{{> admin-tabs route='users'}}
<br />
<br />
<table class="table align-middle">
  <thead class="thead-dark">
    <tr>
      <th scope="col">#</th>
      <th scope="col">Name</th>
      <th scope="col">Email</th>
      <th scope="col">Role</th>
      <th scope="col">#</th>
    </tr>
  </thead>
  <tbody>
    {{#each users}}
    <tr>
      <th scope="row">{{this.id}}</th>
      <td>{{this.name}}</td>
      <td>{{this.email}}</td>
      {{#if this.isAdmin}}
      <td>admin</td>
      {{else}}
      <td>user</td>
      {{/if}}
      {{#if this.isAdmin}}
      <td>
        <form action="/admin/users/{{this.id}}?_method=PATCH" method="POST">
          <button class="btn btn-link" type="submit">set as user</button>
        </form>
      </td>
      {{else}}
      <td>
        <form action="/admin/users/{{this.id}}?_method=PATCH" method="POST" enctype="multipart/form-data">
          <button class="btn btn-link" type="submit">set as admin</button>
        </form>
      </td>
      {{/if}}
    </tr>
    {{/each}}
  </tbody>
</table>