{{> restaurant-tabs route='topRestaurants'}}

<h1>人氣餐廳</h1>

<hr />
{{#each restaurants}}
<div class="card mb-3">
  <div class="row g-0">
    <div class="col-md-4">
      <img src="{{this.image}}" class="img-fluid rounded-start" alt="restaurant">
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title">{{this.name}}</h5>
        <span class="bg-secondary badge">收藏數：{{this.favoritedCount}}</span>
        <p class="card-text mt-1">{{this.description}}</p>
        <div class="d-flex mt-1">
          <a href="/restaurants/{{this.id}}" class="btn btn-primary me-2">show</a>
          {{#if this.isFavorited }}
          <form action="/favorite/{{this.id}}?_method=DELETE" method="POST">
            <button type="submit" class="btn btn-danger">取消最愛</button>
          </form>
          {{else}}
          <form action="/favorite/{{this.id}}" method="POST">
            <button type="submit" class="btn btn-primary">加到最愛</button>
          </form>
          {{/if}}
        </div>
      </div>
    </div>
  </div>
</div>
{{/each}}